<?xml version="1.0"?>
<!--
/* Wise fancy box designer */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Catalog\Model\Layer" type="Wise\Fancy\Model\Layer" />
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="brand_listing_data_source" xsi:type="string">Wise\Fancy\Model\ResourceModel\Brand\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Wise\Fancy\Model\ResourceModel\Brand\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">Wise_Fancy</argument>
			<argument name="eventPrefix" xsi:type="string">Wise_Fancy_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">brand_grid_collection</argument>
			<argument name="resourceModel" xsi:type="string">Wise\Fancy\Model\ResourceModel\Brand</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="group_listing_data_source" xsi:type="string">Wise\Fancy\Model\ResourceModel\Group\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Wise\Fancy\Model\ResourceModel\Group\Grid\Collection">
		<arguments>
			<argument name="mainTable" xsi:type="string">Wise_Fancy_group</argument>
			<argument name="eventPrefix" xsi:type="string">Wise_Fancy_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">group_grid_collection</argument>
			<argument name="resourceModel" xsi:type="string">Wise\Fancy\Model\ResourceModel\Brand</argument>
		</arguments>
	</type>
	<type name="Wise\Fancy\Model\Layer\Resolver">
		<arguments>
			<argument name="layersPool" xsi:type="array">
				<item name="brand" xsi:type="string">Wise\Fancy\Model\Layer\Brand</item>
			</argument>
		</arguments>
	</type>
	<type name="Wise\Fancy\Model\Layer\Brand">
		<arguments>
			<argument name="context" xsi:type="object">Magento\Catalog\Model\Layer\Category\Context</argument>
		</arguments>
	</type>
	<type name="Wise\Fancy\Block\Brand\Product\ListProduct">
		<arguments>
			<argument name="layerResolver" xsi:type="object">Wise\Fancy\Model\Layer\Resolver</argument>
		</arguments>
	</type>
	<virtualType name="BrandGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
	<virtualType name="BrandGridDataProvider" type="Wise\Fancy\Ui\DataProvider\Brand\BrandDataProvider">
        <arguments>
            <argument name="filterPool" xsi:type="object" shared="false">BrandGirdFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="GroupGridDataProvider" type="Wise\Fancy\Ui\DataProvider\Brand\GroupDataProvider">
        <arguments>
            <argument name="filterPool" xsi:type="object" shared="false">BrandGirdFilterPool</argument>
        </arguments>
    </virtualType>
</config>