<?xml version="1.0"?>
<!--
/* Wise fancy box designer */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="wisefancy" frontName="wisefancy">
            <module name="Wise_Fancy" />
        </route>
    </router>
</config>